html
html
   head
      title Form Tester
   body
      form(action = "/", method = "POST")
         div
            label(for = "link") Link:
            input(name = "link" value = "")
         br
         div
            label(for = "start") Start:
            input(name = "start" value = "")
         br
         div
            label(for = "end") End:
            input(name = "end" value = "")
         br
         div
            label(for = "index") Start Index:
            input(name = "index" value = "")
         br
         button(type = "submit") Start